.header {
  @extend .flex-row;

  padding: .5rem 1rem;
  gap: 1rem;

  background-color: $background-light;

  .feeds {
    @extend .flex-row;
    @extend .very-thin-scrollbar;

    flex: 1;
    gap: 1rem;

    overflow-x: auto;

    button.feed {
      @extend .flex-row;

      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      position: relative;
      height: 3rem;
      width: 3rem;
      padding: .3rem;

      &.fade-out {
        opacity: .3;
      }

      img, svg {
        max-height: 100%;
        max-width: 100%;
      }

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .15rem;
        min-width: .9rem;
        font-size: .7rem;
        color: $gray-xxlight;
        background-color: $orange;
        text-align: center;
      }
    }
  }

  button.action {
    height: 3rem;
    width: 3rem;
    padding: .3rem;

    &.logo {
      margin-right: 3rem;
    }

    &.disabled {
      opacity: .3;
      cursor: default;
    }

    img, svg {
      height: 100%;
      width: 100%;
      color: $white;
    }
  }

  button:hover:not(.disabled) {
    background-color: darken($background-light, 5%);
  }

  button.active {
    background-color: darken($background-light, 10%);
  }
}

@media (max-width: 700px) {
  .logo {
    margin-right: 0 !important;
  }
}
