.layout {
  @extend .flex-col;

  position: relative;
  height: 100%;
  width: 100%;

  .header {
    width: 100%;
  }

  .list {
    flex: 1;
    width: 100%;
  }

  .loader {
    @extend .flex-row;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba($black, .7);

    svg {
      height: 7rem;
      color: $white;
    }

    &.active {
      svg {
        animation-name: rotating;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &:not(.active) {
      display: none;
    }
  }
}
