.list {
  padding: .5rem 1rem 5rem 1rem;
  overflow-y: auto;
  background-color: $background-dark;
  color: $gray-xlight;

  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      font-size: 2rem;
    }
  }

  .img {
    @extend .flex-row;

    justify-content: center;
    align-items: center;
  }

  .article {
    @extend .flex-row;

    gap: 2rem;
    height: 7rem;
    max-width: 75rem;
    margin: 1.5rem auto;

    &:visited .title,
    &:visited .description {
      color: $gray-dark !important;
    }

    &:hover .mark-read {
      display: block !important;
    }

    .feed-img {
      height: 100%;
      width: 10rem;
      max-width: 25%;

      background-color: $background-light;
      border-left: 3px solid green;

      img {
        max-height: 4rem;
        max-width: 6rem;
      }
    }

    .content {
      @extend .flex-col;

      flex: 1;
      height: 100%;
      min-width: 0;
      gap: 1rem;

      .title {
        color: $gray-xxlight;
        width: 100%;
      }

      .infos {
        @extend .flex-row;

        flex: 1;
        gap: 1rem;

        .meta {
          @extend .flex-col;

          justify-content: space-between;
          width: 10rem;
          max-width: 25%;

          color: $gray-light;

          .source {
            flex: 1;
          }

          .source,
          .date,
          .time {
            font-size: .9rem;
          }
        }

        .description {
          flex: 1;
          height: fit-content;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: .9rem;
        }
      }
    }

    .article-img {
      position: relative;
      height: 100%;
      width: 15rem;
      max-width: 25%;

      img {
        max-height: 100%;
        max-width: 100%;
      }

      button.mark-read {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2.5rem;
        width: 2.5rem;

        border-bottom: 1px solid $white;
        background-color: lighten($background-dark, 5%);

        &:hover {
          background-color: lighten($background-dark, 10%);
        }

        svg {
          height: 100%;
          width: 100%;
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .article {
    gap: 1rem !important;
    margin: 1rem auto !important;
  }

  .feed-img {
    width: 0 !important;

    img {
      display: none;
    }
  }

  .content {
    padding: .5rem 0;
  }

  .title {
    font-size: .9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .source,
  .date,
  .time,
  .description {
    font-size: .7rem !important;
  }
}

@media (min-width: 700px) {
  .title {
    font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}
